{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
  <section id="services" class="services section light-background">
    <div class="container" data-aos="fade-up" data-aos-delay="100">
      <div class="row g-4">
            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200" onclick="window.location.href='/libary';">
              <div class="service-card d-flex">
                <div class="icon flex-shrink-0">
                  <i class="bi bi-diagram-3"></i>
                </div>
                <div>
                  <h3>St체cke</h3>
                  <p>Entdecke unsere umfangreiche Sammlung an St체cken.</p>
                  <a href="/libary" class="read-more">Hier lang<i class="bi bi-arrow-right"></i></a>
                </div>
              </div>
            </div><!-- End Service Card -->

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="400" onclick="window.location.href='/musikheim';">
            <div class="service-card d-flex">
              <div class="icon flex-shrink-0">
                <i class="bi bi-clipboard-data"></i>
              </div>
              <div>
                <h3>Musikheim Planung</h3>
                <p>Behalte alle Termine und Aktivit채ten im Musikheim im Blick.<br>
                  F체ge neue Termine hinzu oder passe bestehende an!</p>
                <a href="/libary" class="read-more">comming soon<i class="bi bi-arrow-right"></i></a>
              </div>
            </div>
          </div><!-- End Service Card -->

      </div>
    </div>
  </section><!-- /Services Section -->
{% endblock %}
